* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --page-color: #e0e0e0;
    --device-color: #757575;
    --txt-color: #484848;
    --btn-color: #d7d7d7;
}

body {
    background-color: var(--page-color);
}

.heading {
    font-size: 42px;
    color: var(--txt-color);
    font-weight: 600;
    text-align: center;
}

main {
    margin: 128px 0 0;
    padding: 0 16px;
}
